
img{
  display: block; 
  max-height: 150px;
  max-width: 400px;
  margin-left: 0px;
  margin-right: auto;
}

 .nav_item a:hover, a:focus{
  color: rgb(23, 48, 48);
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.nav_item a{
    padding: 10px;
  }

  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

  *:focus{
    border: 2px solid black;
  }

body{
  background-image: url('../images/wood_backgroud.jpg');
  font-family: 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

footer{
  /* position: fixed; */
  /* bottom: 0em; */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  /* padding-bottom: 10px; */
  text-align: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  background-color: white;

}

.nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav_item a{
  color: black;
  text-decoration: none;
}

#active{
  color:white;
  background-color: grey;
  border-radius: 5em;
}

@media (prefers-reduced-motion: reduce) {
  #knife {
    animation: none;
  }
}

@media screen and (min-width: 850px){



  header{
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
  }

  .nav_links{
  flex-direction: row;
  justify-content: space-around;
  }

  .nav_item a{
    padding: 10px;
  }
}

#intro{
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  flex-shrink: 0;
  margin: 20px;
  background:rgb(228, 220, 220);
  border-radius: 5px;
  padding: 0 0 50px 0;
  border-radius: 1em;
  text-align: center;
  border: 1px solid black;
}

@-webkit-keyframes knife_spin{

from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}


@keyframes knife_spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#knife{
  -webkit-animation-name: kinfe_spin ;
  animation-name: knife_spin;

  -webkit-animation-duration: 3s;
  animation-duration: 3s;

  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

  margin-right: auto;
  margin-left: auto;

}

#chili{
  min-width: 400px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding:1px;
  border:1px solid #021a40;
  background-color:grey;
}
/* #weather{
  display: block;
  margin-left: auto;
  margin-right: 0px;
} */

#ingrediants{
  display: flex;
  flex-direction: column;
  /* flex-basis: 200px; */
  flex-shrink: 0;
  margin: 100px;
  background:rgb(228, 220, 220);
  border-radius: 5px;
  padding: 50px 50px 50px 50px;
  border-radius: 1em;
  text-align: left;
  border: 1px solid black;
}

#directions{
  display: grid;
  grid-template-columns: 1fr;
  /* flex-basis: 400px;
  flex-shrink: 0; */
  margin: 20px;
  background:rgb(228, 220, 220);
  border-radius: 5px;
  padding: 50px 50px 50px 50px;
  border-radius: 1em;
  /* justify-content: flex-start; */
  text-align: left;
  border: 1px solid black;
}

#red_sauce{
  display: block; 
  max-height: 400px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

 .flip-card {
   margin-right: auto;
   margin-left: auto;
  background-color: transparent;
  width: 200px;
  height: 300px;
  /* perspective: 1000px; Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: static;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

 .flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
 }

/* Style the front side (fallback if image is missing) */
 /* .flip-card-front {
  background-color: #bbb;
  color: black;
} */

/* Style the back side */
 .flip-card-back {
  background-color: transparent;
  color:black;
  transform: rotateY(180deg);
} 
