img{
  display: block;
  max-height: 150px;
  max-width: 400px;
  margin-left: 0px;
  margin-right: auto;
}

.nav_item a:hover, a:focus{
  color: rgb(23, 48, 48);
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.nav_item a{
    padding: 10px;
  }

  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

  *:focus{
    border: 2px solid black;
  }
/* Lucida Grande */
body{
  background-image: url('../images/wood_backgroud.jpg');
  font-family: 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}
h1{
  text-shadow: 2px 2px 0px #778899;
  font-size: 24pt;
  text-align: center;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

footer{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  background-color: white;

}

.nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav_item a{
  color: black;
  text-decoration: none;
}

#active{
  color:white;
  background-color:#B0E0E6;
  border-radius: 5em;
}

#intro{
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  flex-shrink: 0;
  margin: 20px;
  background:rgb(228, 220, 220);
  border-radius: 5px;
  padding: 0 0 50px 0;
  border-radius: 1em;
  text-align: center;
  border: 1px solid black;
}

@-webkit-keyframes knife_spin{

from {
  transform: rotate(0deg);
}
to {
  transform: rotate(-67deg);
}
}


@keyframes knife_spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-67deg);
  }
}

#knife{
  -webkit-animation-name: kinfe_spin ;
  animation-name: knife_spin;

  -webkit-animation-duration: 3s;
  animation-duration: 3s;

  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;

  margin-right: auto;
  margin-left: auto;

}

.parralax{
  background: url(../images/chili.jpg);
  background-attachment: fixed; /* Parallax effect */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  height: 1000px;
}

.container{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  /* grid-row-gap: 20px; */
  grid-gap: 1em;
}

#ingrediants{
  grid-column: 2/ span 3;
  grid-row: 2/ span 1;
  margin: auto;
  background:#e1e1e1;
  /* background:rgb(228, 220, 220); */
  border-radius: 5px;
  padding: 50px 50px 50px 50px;
  border-radius: 1em;
  text-align: left;
  border: 1px solid black;
}

#directions{
  display: grid;
  grid-column: 2/ span 3;
  grid-row: 3/span 1;
  margin: auto;
  background:#e1e1e1;
  /* background:rgb(228, 220, 220); */
  border-radius: 5px;
  padding: 50px 50px 50px 50px;
  border-radius: 1em;
  text-align: left;
  border: 1px solid black;
  margin-right: 1em;
}

#red_sauce{
  min-width: 400px;
  min-height: 400px;
  margin-left: -55%;
  padding:1px;
  border:1px solid #021a40;
  background-color:grey;
}

.flip-card {
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  width: 200px;
  height: 300px;
}

.flip-card-inner {
  position: static;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: transparent;
  color:black;
  transform: rotateY(180deg);
}

.gallery{
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  height: auto;
}

.gallery > img{
  border: 5px black solid;
  margin: 15px;
  width: 200px;
  height: 600px;

}
.gallery > img:hover{
  transition: transform .5s;
    transform: scale(1.1);
}

.gallery > img:nth-child(odd){
  border: 5px  #4682B4 solid;
}

@-webkit-keyframes gallery{

  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
  }

  @keyframes gallery{
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }

.gallery > img:nth-child(even){
    -webkit-animation-name: gallery ;
    animation-name: gallery;

    -webkit-animation-duration: 5s;
    animation-duration: 5s;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    margin-right: auto;
    margin-left: auto;

}

@media (prefers-reduced-motion: reduce) {
    #knife {
      animation: none;
    }
    .gallery > img:nth-child(even){
      animation: none;
    }
  }

#strog{
  min-width: 400px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding:1px;
  border:1px solid #021a40;
  background-color:grey;
}
/* 
fieldset div{
  border: 2px solid black;
  margin: 5%;
  padding: 1%;
  border-radius: 5px;
} */

/* fieldset{
  border-radius: 10px;
} */


.contact{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 5px;
}

/* input[type = submit]{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
} */

fieldset div{
  margin:10px auto;
	max-width: 1200px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


#recipe{
  margin-top: 0em;
  margin-left: 0em;
  height: 400px;
  word-wrap: break-word;
  color: #021a40;
}
/* https://www.sanwebe.com/2014/08/css-html-forms-designs */
input[type=submit], input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color:black;
}
input[type=submit]:hover,  input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}


@media screen and (min-width: 850px){


  header{
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
  }

  .nav_links{
    flex-direction: column;
    justify-content: space-between;
    }

  .nav_item a{
    padding: 10px;
  }

  #ingrediants{
    grid-column: 1/ span 2;
    margin-left: 1em;
  }
}


@media screen and (min-width: 1000px){

  header{
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
  }

    .nav_links{
      flex-direction: row;
      justify-content: space-around;
      }

  #ingrediants{
    grid-row: 2/ span 3;
    grid-column: 1/ span 1;
    background-color: white;
    border: none;
    margin-left: 1em;
  }

  #directions{
    grid-row: 2/ span 1;
    grid-column: 2/span 2 ;
    background-color:white;
    border: none;
  }
}

li{
  margin: .6em;
}


@media (prefers-color-scheme: dark) {
  body {
    background-image: none;
    background-color:#313738;
    color: white;
  }
  li{
    color: black;
  }

  h2{
    color: black;
  }

  #intro{
    color: black;
  }
  #gallery{
    Color: white;
  }

  footer{
    color: white;
  }

  a.skip{
    color: black;
  }
  a.skip:focus{
    color:black;
  }

  .email{
    color: white;
  }

  .flip-card-back{
    color: white;
  }

  legend{
    color: white;
  }

  input{
    color: black;
  }
  }
